@include tablet {
    .contenedor-anuncios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
        align-items: stretch;
    }
}

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid $gris;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .contenido-anuncio {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;
    }

    h3,
    p {
        margin: 0;
    }
}

.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
    margin-top: auto;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;
        align-items: center;
    }

    li img {
        flex: none;
        width: 2rem;
        margin-right: 1rem;
    }

    p {
        font-weight: $black;
    }
}